html {
    height: 150%;
}

body {
    background-image: linear-gradient(rgba(28, 41, 81, 0.9), rgba(255, 0, 0, 0.4)), url(Images/background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}


h1 {
    font-size: 3.5vw;
    color: rgba(130,200,200,1);
    text-align: center;
    width: 22%;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    margin: 0px 39%;
    margin-bottom: 10px;
}

table {
    width: 80%;
    margin: 20px 10%;
}


th {
    color: rgba(240,240,240,1);
    border-bottom: 2px solid rgba(150,150,150,0.8);
    border-top: 2px solid rgba(150,150,150,0.8);
    border-right: 2px solid rgba(150,150,150,0.8);
    padding-bottom: 5px;
    padding-top: 5px;
}

td {
    text-align: left;
    color: rgba(180,180,180,1);
    border-bottom: 2px solid rgba(150,150,150,0.8);
    border-right: 2px solid rgba(150,150,150,0.8);
}

.td-first-child{
    border-left: 2px solid rgba(150,150,150,0.8);
    text-align: center;
}