html {
    height: 140%;
}

body {
    background-image: linear-gradient(rgba(28, 41, 81, 0.9), rgba(255, 0, 0, 0.4)), url(Images/background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Cactus Classical Serif", serif;
}

img {
    float: right;
    height: 75px;
}

h1 {
    font-size: 3.0vw;
    color: rgba(130,200,200,1);
    text-align: center;
    width: 22%;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
    margin: 0px 39%;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgba(50,50,50);
}

.btn {
    float: left;
    padding: 5px 10px;
    background-color: rgba(255, 192, 203);
    border-radius: 10px;
    margin-right: 10px; 
    font-size: 1.2vw;
    border: 2px solid rgba(175, 112, 123);
}

.btn:hover,
.btn:active{
    float: left;
    padding: 5px 10px;
    background-color: rgba(225, 162, 173);
    border-radius: 10px;
    margin-right: 10px; 
    font-size: 1.2vw;
    border: 2px solid rgba(175, 112, 123);
}

table {
    width: 80%;
    margin: 20px 10%;
}


th {
    color: rgba(240,240,240,1);
    border-bottom: 2px solid rgba(150,150,150,0.8);
    border-top: 2px solid rgba(150,150,150,0.8);
    border-right: 2px solid rgba(150,150,150,0.8);
    padding-bottom: 5px;
    padding-top: 5px;
}

td {
    text-align: left;
    color: rgba(180,180,180,1);
    border-bottom: 2px solid rgba(150,150,150,0.8);
    border-right: 2px solid rgba(150,150,150,0.8);
}

.td-first-child{
    border-left: 2px solid rgba(150,150,150,0.8);
    text-align: center;
}
